header{
    height: 50px;
    background-color: goldenrod;
    opacity: 0.5;
    padding-top: 5px;
}
a:hover{
    color: orangered;
}
a{
    margin-right: 50px;
    margin-left: 10px;
    font-size: xx-large;
}
footer{
    height: 50px;
    background-color: goldenrod;
    opacity: 0.5;
    padding-left: 5px;
}
input[type="text"], input[type="email"], textarea, button{
    display: block;
    margin-top: 10px;
    width: 400px;
    margin-left: 35%;
    background-color: khaki;
}
textarea{
    height: 200px;
}
body{
    background-color: darkgrey;
}
button:active{
    color: white;
    background-color: green;
}
h3{
    margin-left: 35%;
}
div{
    width: 800px;
    margin-left: 350px;
}
table{
    margin-left: 500px;
    padding: 10px;
    font-size: xx-large;
}